<!DOCTYPE HTML>
<html>

<head>
    <meta name="description" content="Real Time Lyrics" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    <link rel="stylesheet" type="text/css" href="../static/style.css" title="style" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/login.js"></script>
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">

          <h1><a href="{{ url_for('views.index') }}">LiveLyrics</a></h1>
          <h2>Lyrics in Real Time.</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">

          <li class=><a href="{{ url_for('views.index') }}">Home</a></li>
          <li><a href="{{ url_for('views.users') }}">Users</a></li>
          <li><a href="{{ url_for('views.songs') }}">Songs</a></li>
          <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfkYm6pUmVJ7It-f96yoRxCMMzvktP9RRao0aAWooRUGMQW7Q/viewform?usp=sf_link" target="_blank">Contact Us</a></li>
            <li class="selected"><a href="{{ url_for('views.activity')}}">Recent Activity</a></li>
            <li><a id = "loginMenu" href="{{ auth_url}}" onclick="return removeCookies();">Login</a></li>

        </ul>
      </div>
    </div>
    <div id="site_content">
      <div class="sidebar">

      </div>
      <div id="content">

        <h1>Recent activity</h1>


      </div>
        <p> Recent Activity: </p>

      <div id="activity-feed">
        <p> Recent Activity </p>
      </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="../static/activity.js"></script>
</body>
</html>