<!DOCTYPE HTML>
<html>

<head>

  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="../static/style.css" title="style" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
    
          <h1><a href="{{ url_for('views.index') }}">LiveLyrics</a></h1>
          <h2>Lyrics in Real Time.</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
        
			<li class="selected"><a href="{{ url_for('views.index') }}">Home</a></li>
          <li><a href="{{ url_for('views.lyrics') }}">Add Lyrics</a></li>
          <li><a href="{{ url_for('views.users') }}">Users</a></li>
          <li><a href="{{ url_for('views.songs') }}">Songs</a></li>
          <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfkYm6pUmVJ7It-f96yoRxCMMzvktP9RRao0aAWooRUGMQW7Q/viewform?usp=sf_link" target="_blank">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
      
      <div id="content">
  
        <form action="http://127.0.0.1:5000/lyrics/edit" id="songEditForm">
          <div class="form_settings">

            <p style="padding-bottom: 4px"><span>New song name:</span><input id="song-title-input" type="text" name="songtitle"><br></p>
            <p style="padding-bottom: 4px"><span>Lyrics:</span><input id="lyrics-input" type="text" name="lyrics" class="lyricsInputTest"><br></p>
            <p style="padding-bottom: 4px"><span>Track id:</span><input id="spotify-track-id-input" type="text" name="spotify_track_id" class="lyricsTrackIDTest"><br></p>
            <p style="padding-bottom: 4px"><span>Timestamps:</span><input id="timestamps-input" type="text" name="timestamps" class="lyricsTimestampsTest"><br></p>

            <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="lyrics_submitted" value="submit"/></p>
          </div>
        </form>


          </div>
        </form>
      </div>
    </div>
 
  </div>
    <script type="text/javascript" src="../static/lyrics.js"></script>
</body>
</html>
