<!DOCTYPE HTML>
<html>

<head>

  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="../static/style.css" title="style" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">

          <h1><a href="{{ url_for('views.index') }}">LiveLyrics</a></h1>
          <h2>Lyrics in Real Time.</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
  
		  <li class="selected"><a href="{{ url_for('views.index') }}">Home</a></li>
          <li><a href="{{ url_for('views.users') }}">Users</a></li>
          <li><a href="{{ url_for('views.songs') }}">Songs</a></li>
          <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfkYm6pUmVJ7It-f96yoRxCMMzvktP9RRao0aAWooRUGMQW7Q/viewform?usp=sf_link" target="_blank">Contact Us</a>
             <li><a href="{{ url_for('views.activity')}}">Recent Activity</a></li>
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">

      <div id="content">
     
        <form action="http://18.188.140.44/lyrics/search" id="songsForm">
          <div class="form_settings">
            <p><span>Search for songs by name:</span><input type="text" name="song"></p>
            <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="userInfo_submitted" value="submit"/></p>
          </div>
        </form>

        <p> or <a href="{{ url_for('views.lyrics') }}" id="sync-link">Select the song you're listening to on your phone!</a><br> </p>
      </div>

      <div class="song-list">
      </div>
    </div>

  </div>

  <script type="text/javascript" src="../static/songs.js"></script>
</body>
</html>
